.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 1s forwards;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}
