/* Font family import best-stories*/
@font-face {
  font-family: best-stories;
  src: url(fonts/Best-Stories.otf);
}

/* Font family import kiona*/
@font-face {
  font-family: kiona;
  src: url(fonts/Kiona-Regular.ttf);
}

/* keyframes selectors */
@keyframes active {
  0% {
    color: black;
  }
  50% {
    color: red;
  }

  100% {
    color: black;
  }
}

/* id selectors */
#navi {
  font-family: best-stories;
  float: left;
  font-size: 1.5vw;
  padding: 10px;
}

#more {
  display: none;
}

/* Use this instead of large breaks */
.space {
  margin-top: 17%;
}

.space2 {
  margin-top: 7%;
}

/* class selectors */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 2vw;
  font-family: kiona;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.details {
  /* Animation */
  animation-name: anima1;
  animation-duration: 2s;

  /* Box Color and Rounded Box radius */
  background-color: white;
  padding: 1%;

  /* Letters & font */
  line-height: 140%;
  font-family: Kiona;
  font-size: 2.5vw;
  color: black;
  font-weight: bold;
}

.title {
  font-family: "Kiona", Courier, monospace;
  color: black;
  font-size: 6vw;
  text-align: center;
}

.subtitle {
  font-family: kiona;
  color: black;
  font-size: 2vw;
  text-align: center;
}

.button {
  /* button design */
  background-color: #333;
  width: 50%;
  padding: 10px;

  /* button text */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button:active {
  background-color: rgb(22, 22, 22);
}

/* Media screen changes for Mobile View */
@media screen and (max-width: 900px) {
  #navi {
    font-size: 2.5vw;
  }

  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 3vw;
  }

  .navbar a {
    font-size: 3vw;
  }

  .details {
    font-size: 5vw;
    padding-left: 5%;
  }
}

/* Media screen changes for widescreen view */
@media screen and (min-width: 1200px) {
  .title {
    margin-left: 9%;
    text-align: left;
    font-size: 3vw;
  }

  .subtitle {
    margin-left: 9%;
    text-align: left;
    font-size: 2vw;
  }

  .navbar a {
    font-size: 1.5vw;
  }

  .details {
    text-align: left;
    font-size: 1.5vw;
  }

  .button {
    width: 20%;
  }
}
