/* 
*  Dev note: use clamp to resize the fonts, 
*  em or rem sizes should also be utilized 
*/

/* Overriden Values */

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation */

.navbar {
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

.navbar > div {
  padding: 3vh 1vw 3vh 1vw;
  color: white;
}
.navbar > div:first-child {
  padding: 1px 0 0 1px;
  margin-right: auto;
  color: red;
}
/* Sections */

.header {
  background-image: url("./Assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header > * {
  margin: 0;
}

.logo {
  height: 8vh;
}

.section2 {
  width: 100%;
  padding: 3vh 0 3vh 0;
  margin: 0 0 0 0;
}

/* Footer */

footer {
  background-color: black;
}

.linkWrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.linkWrap > a {
  padding-left: 10px;
}

.linkWrap > a > img {
  width: 40px;
}
