nav a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 100%;
    opacity: 0;
    background-color: var(--highlight-color);
  
    transition-duration: 500ms;
}
  
nav a:hover::before {
    content: "";
    opacity: 1;
}