@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #000012;
  --bg-color-2: #221d30;
  --bg-color-footer: rgb(11, 16, 38);

  --primary-text: #fff;
  --primary-colored-text: #efd758;
  --secondary-text: #979797;
  --highlight-color: #c475df;

  --gradient-tomato: #cc2b5e;
  --gradient-purple: #753a88;
  --gradient-purple-2: #42275a;
  --gradient-magenta: #734b6d;


  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Open Sans", sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}